html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: #222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  -webkit-transition: 0s padding linear;
  transition: 0s padding linear;
}

body.header-sticky {
  padding-top: 40px;
  -webkit-transition: none;
  transition: none;
}

.wrapper {
  width: 100%;
  max-width: 1366px;
  padding: 0 5px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

*,
*:hover {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  margin: 0;
  padding: 0;
}

.default-btn {
  background-color: #2a78ea;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid #2a78ea;
  line-height: 40px;
  padding: 0 20px;
  min-width: 150px;
  display: inline-block;
}

.default-btn:hover {
  background-color: transparent;
  color: #2a78ea;
}

header .top-header {
  line-height: 40px;
  background: #2a78ea;
}

header .top-header #header-phones li {
  border-left: 1px solid #fff;
}

header .top-header #header-phones li a {
  padding: 0 20px;
  color: #fff;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  z-index: 1;
}

header .top-header #header-phones li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: -1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

header .top-header #header-phones li a:hover {
  color: #2a78ea;
  background-color: #fff;
}

header .top-header #header-phones li a:hover::before {
  top: 0;
}

@media screen and (max-width: 575px) {
  header .top-header #header-phones li a {
    padding: 0 5px;
  }
}

header .top-header #header-phones li:nth-last-child(1) {
  border-right: 1px solid #fff;
}

@media screen and (max-width: 575px) {
  header .top-header #header-phones li:nth-last-child(1) {
    border-right: none;
  }
}

@media screen and (max-width: 575px) {
  header .top-header #header-phones li {
    border-left: none;
  }
}

header .top-header h1 {
  font-size: 14px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  header .top-header h1 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

header .top-header .social-links li a {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #fff;
}

header .top-header .social-links li a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .main-header {
  background-color: #fff;
  line-height: 70px;
}

header .main-header #mainNav .main-logo-holder {
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
}

header .main-header #mainNav .main-logo-holder img {
  height: 60px;
  vertical-align: top;
}

header .main-header #mainNav .main-logo-holder:hover img {
  opacity: 0.7;
}

header .main-header #mainNav #main-menu li a {
  color: #0648a9;
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300;
  position: relative;
  z-index: 1;
}

header .main-header #mainNav #main-menu li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: #2a78ea;
  border-radius: 0 0 5px 5px;
  z-index: -1;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

header .main-header #mainNav #main-menu li a:hover {
  color: #fff;
}

header .main-header #mainNav #main-menu li a:hover::before {
  bottom: 0;
}

@media screen and (max-width: 767px) {
  header .main-header #mainNav #main-menu li a {
    padding: 0 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  header .main-header #mainNav #main-menu {
    display: none;
  }
}

header .main-header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-box-shadow: 0 5px 10px rgba(42, 120, 234, 0.1);
          box-shadow: 0 5px 10px rgba(42, 120, 234, 0.1);
}

#contact .contact-left #contactForm textarea {
  min-height: 150px;
  resize: none;
}

#contact .contact-right .vertical-line {
  position: absolute;
  left: -1px;
  width: 2px;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}

#contact .contact-right li p {
  font-weight: 300;
}

#transport .transport-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#transport .transport-content .transport-content-inner {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  padding: 30px;
  max-width: 80%;
}

#main-footer {
  background: -webkit-gradient(linear, left top, right top, from(#2a78ea), to(#4e32ec));
  background: linear-gradient(to right, #2a78ea, #4e32ec);
}

#main-footer .copyright a {
  color: rgba(255, 255, 255, 0.7);
}

#main-footer .copyright a:hover {
  color: #fff;
}

#main-footer #footer-social a:hover {
  -webkit-transform: scale(1.4) rotate(5deg);
          transform: scale(1.4) rotate(5deg);
  opacity: 1;
}

#hero .hero-slider .hero-slider-item {
  position: relative;
}

#hero .hero-slider .hero-slider-item img {
  width: 100%;
}

#hero .hero-slider .hero-slider-item .hero-slider-item-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#hero .hero-slider .hero-slider-item .hero-slider-item-inner .wrapper {
  position: relative;
  height: 100%;
}

#hero .hero-slider .hero-slider-item .hero-slider-item-inner .wrapper .text-block {
  position: absolute;
  top: 50%;
  right: 10%;
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 420px;
  padding: 30px;
  border-radius: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#hero .hero-slider .hero-slider-item .hero-slider-item-inner .wrapper .text-block h3 {
  color: #0648a9;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

#hero .hero-slider .slick-dots {
  bottom: 0;
  width: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 0 20px;
}

#hero .hero-slider .slick-dots li {
  height: 24px;
}

#hero .hero-slider .slick-dots li button::before {
  font-size: 18px;
  color: #4e32ec;
}

#about-us {
  padding: 80px 0;
}

#about-us .about-us-text {
  text-align: center;
  padding-bottom: 50px;
}

#about-us .about-us-text h3 {
  font-weight: 300;
}

#about-us .about-us-text ul {
  font-size: 1.75rem;
  font-weight: 300;
}

#user-counter {
  padding: 100px 0;
  background: -webkit-gradient(linear, left top, right top, from(#2a78ea), to(#4e32ec));
  background: linear-gradient(to right, #2a78ea, #4e32ec);
}

#user-counter .users-counter-slider {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

#user-counter .users-counter-slider .counter-icon-holder {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#user-counter .users-counter-slider .counter-icon-holder img,
#user-counter .users-counter-slider .counter-icon-holder i {
  width: auto;
  max-height: 180px;
}

#user-counter .users-counter-slider p {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 0;
}

#user-counter .users-counter-slider p.counter-number {
  font-size: 58px;
  font-weight: 600;
}

#prices {
  padding: 80px 0;
  background-color: #e8e8e8;
}

#prices .prices-block {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

#prices .prices-block h2 {
  color: #fff;
  background-color: #777;
  padding: 0 30px 0 20px;
  margin: 30px 0 20px;
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  font-weight: 300;
  border-radius: 5px 30px 5px 5px;
}

#prices .prices-block p.small {
  font-weight: 300;
}

#prices .prices-block table {
  width: 100%;
  padding: 10px;
}

#prices .prices-block table tr {
  line-height: 30px;
}

#prices .prices-block table tr td {
  font-weight: 300;
}

#prices .prices-block table tr th:nth-child(odd) {
  width: 67%;
}

#prices .prices-block table tr th:nth-child(even) {
  width: 33%;
}
